### Library Imports

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib import rc

### Data Imports

In [2]:
dataset_train = pd.read_csv('train.csv')
train = dataset_train.set_index('Order No')
X_train = train.iloc[:,:-1].values
Y_train = train.iloc[:, -1].values

#dataset_test = pd.read_csv('Test_dataset.csv')
#test = dataset_test.set_index('Order No')
#X_test = test.values

In [48]:
train

,Distance (KM),Temperature,Precipitation in millimeters,Time from Pickup to Arrival
Order No,,,,
Order_No_4211,4,20.4,0.0,745
Order_No_25375,16,26.4,0.0,1993
Order_No_9336,9,19.2,0.0,1341
Order_No_27883,9,15.4,0.0,1214
Order_No_7408,9,27.2,0.0,3191
...,...,...,...,...
Order_No_8834,3,28.6,0.0,9
Order_No_22892,7,26.0,0.0,770
Order_No_2831,20,29.2,0.0,2953
Order_No_6174,13,15.0,0.0,1380
Order_No_9836,12,30.9,0.0,2128

In [49]:
test

                Distance (KM)  Temperature  Precipitation in millimeters
Order No
Order_No_768                5         22.8                           0.0
Order_No_15332              5         24.5                           0.0
Order_No_21373              6         24.4                           0.0
Order_No_14573             16         19.3                           0.0
Order_No_6731              18         20.9                           0.0
...                       ...          ...                           ...
Order_No_3612               5         24.8                           0.0
Order_No_7657              22         30.7                           0.0
Order_No_1969              10         25.1                           0.0
Order_No_10591             18         23.6                           0.0
Order_No_1603               8         22.3                           0.0

[5631 rows x 3 columns]

### Feature Scaling

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
X_test

array([[-0.79503033, -0.12691711, -0.0763033 ],
       [-0.79503033,  0.34325973, -0.0763033 ],
       [-0.61943127,  0.31560227, -0.0763033 ],
       ...,
       [ 0.08296495,  0.5092045 , -0.0763033 ],
       [ 1.48775739,  0.09434258, -0.0763033 ],
       [-0.26823316, -0.26520441, -0.0763033 ]])

In [9]:
X_train

array([[-0.97062938, -0.79069617, -0.0763033 ],
       [ 1.13655928,  0.86875149, -0.0763033 ],
       [-0.09263411, -1.1225857 , -0.0763033 ],
       ...,
       [ 1.8389555 ,  1.64316039, -0.0763033 ],
       [ 0.60976211, -2.28419906, -0.0763033 ],
       [ 0.43416306,  2.11333723, -0.0763033 ]])

### Multi-linear Training

In [10]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Test Predict Results

In [42]:
Y_pred = regressor.predict(X_test)
Resp_var = np.round(Y_pred.reshape(len(Y_pred),1),2)

In [43]:
Order_no = np.array(dataset_test['Order No']).reshape(len(dataset_test),1)

In [44]:
Results = np.concatenate((Order_no,Resp_var),1)

In [45]:
Results_df = pd.DataFrame(Results,columns=['Order_No', 'Time from Pickup to Arrival'])

In [46]:
Results_df

            Order_No Time from Pickup to Arrival
0       Order_No_768                     1103.89
1     Order_No_15332                     1107.96
2     Order_No_21373                     1209.34
3     Order_No_14573                     2213.38
4      Order_No_6731                     2420.46
...              ...                         ...
5626   Order_No_3612                     1108.67
5627   Order_No_7657                     2850.39
5628   Order_No_1969                     1617.51
5629  Order_No_10591                     2426.91
5630   Order_No_1603                     1407.57

[5631 rows x 2 columns]

In [47]:
Results_df.to_csv('Predicted(Multi-linear-FM).csv',index=False)