In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib import rc

In [2]:
dataset = pd.read_csv('train 0.3.csv')
data = dataset.set_index('Order No')
X_train = data.iloc[:,:-1].values
Y_train = data.iloc[:, -1].values


dataset_test = pd.read_csv('test 0.3.csv')
test = dataset_test.set_index('Order No')
X_test = test.values

In [3]:
X_train

array([[ 4. , 20.4],
       [16. , 26.4],
       [ 3. , 26.4],
       ...,
       [20. , 29.2],
       [13. , 15. ],
       [12. , 30.9]])

In [4]:
Y_train

array([ 745, 1993,  455, ..., 2953, 1380, 2128], dtype=int64)

In [5]:
#from sklearn.preprocessing import StandardScaler
#sc = StandardScaler()
#X_train = sc.fit_transform(X_train)
#X_test = sc.transform(X_test)

In [9]:
#X_train.max()

6.9667768703242405

In [10]:
#X_test.max()

6.613970325419256

In [5]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
Y_pred = regressor.predict(X_test)
Resp_var = np.round(Y_pred.reshape(len(Y_pred),1),2)

In [7]:
Order_no = np.array(dataset_test['Order No']).reshape(len(dataset_test),1)

In [8]:
Results = np.concatenate((Order_no,Resp_var),1)

In [9]:
Results_df = pd.DataFrame(Results,columns=['Order_No', 'Time from Pickup to Arrival'])

In [10]:
Results_df

            Order_No Time from Pickup to Arrival
0     Order_No_19248                     1403.96
1     Order_No_12736                      1100.6
2       Order_No_768                      1100.6
3     Order_No_15332                     1102.98
4     Order_No_21373                     1203.96
...              ...                         ...
7063   Order_No_3612                      1103.4
7064   Order_No_7657                     2830.72
7065   Order_No_1969                     1609.43
7066  Order_No_10591                     2416.28
7067   Order_No_1603                     1403.26

[7068 rows x 2 columns]

In [11]:
Results_df.to_csv('Predicted(Multi-linear 0.3).csv',index=False)